[submodule "nvim.config"]
	path = nvim.config
        url = https://github.com/prex-aliya/nvim.config
[submodule "DWMmine"]
	path = DWMmine
	url = https://github.com/prex-aliya/DWMmine
[submodule "DMENUmine"]
	path = DMENUmine
	url = https://github.com/prex-aliya/DMENUmine
[submodule "STmine"]
	path = STmine
	url = https://github.com/prex-aliya/STmine
